*{
    margin: 0;
    padding: 0;
    scrollbar-color: #ecc9c7 #f2ebd8; /*for funsies*/
}
.dark-scroll {
    scrollbar-color: #335654 #182C2B !important; /*for funsies*/
}

body, html {
    height: 100%;
}

body {
    /*background-color: #d1eda1;*/
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
}

#page-container {
    /*color: #CA6D68;*/
    /*background-color: #284A48;*/
    /*background: linear-gradient(to bottom, #182C2B 30%, #CA6D68);*/
    background: #f2ebd8;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
}
.page-container-dark {
    /*color: #182C2B !important;
    background: linear-gradient(to bottom, #CA6D68 30%, #F1C1BD) !important;*/
    /*color: #F1C1BD !important;*/
    background: #182C2B;
}
