h1.heading {

}

h2.sub-heading {

}

h2.sub-sub-heading {

}

h3.text-content {

}

h4.tangent {

}

h5.pre-req {

}

a.notebook {
    
}
/*h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-left-style: double; 
  border-left-width: thick; 
  font-size:32px; 
  color: darkred; 
  border-color: darkred; 
  text-align: left; 
  border-radius:10px;
  font-style: italic;
}*/