
#page-container {
    position: relative;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    text-align: center;
    size: 20px;
    /*color: #6b808b;
    font-family: 'Shadows Into Light';*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    padding-left: auto;
    padding-right: auto;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
}