body {
    background-color: #d1eda1;
    margin: 0;
    overflow-x: hidden;
    width: 100vw
    height: 100vh;
}

.intromsg {
    /*height: 100vh;*/
    background: #f8e5bb;
    box-sizing: border-box;
    color: black;
}

#page-container {
    position: relative;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
}

p {
    font-family: ui-rounded;
}
h1 {
    size: 50px;
}

#header {
    background-color: #182C2B;
}
.menu {
    text-align: center;
    size: 20px;
    color: #F1C1BD;
    font-family: 'Shadows Into Light';
}
a {
    text-decoration: none;
}
a.style:link, a.style:visited {
    color: #F1C1BD; /*#fcfdfc*/
}
a.style:hover {
    color: #CA6D68; /*#b1cf86*/
}
a.style:active {
    color: #DFDADE; /*#6d8a47*/
}

#content-wrap {
    padding-bottom: 2.5rem;     /*Footer height*/
}

#footer {
    text-align: center;
    size: 50%;
    /*background-color: #6b808b;*/
    background-color: rgb(255 253 208);
    font-family: 'Shadows Into Light';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    
    /*padding-left: auto;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;*/
}
