*{
    margin: 0;
}

body {
    /*background-color: #d1eda1;*/
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

#page-container {
    color: #F1C1BD;
    /*background-color: #284A48;*/
    background: linear-gradient(to bottom, #182C2B 30%, #CA6D68);
    position: relative;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
}

.intromsg {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #284A48;*/
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0rem;
}
.intromsgpartb {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0rem;
}
.plan {
     height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.0rem;
}

h1 {
    size: 50px;
}

#header {
    height: 4rem;
    align-content: center;
    background-color: #182C2B;
    width: 100vw;
    position: fixed;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*justify-content & align-items to center text in header & footer*/
    align-items: center;
    size: 2rem;
    font-family: 'Shadows Into Light';
}

a {
    color: #F1C1BD;
    text-decoration: none;
}
/*a.style:link, a.style:visited {
    color: #F1C1BD; 
}*/ /*previos color: #fcfdfc*/
a.style:hover {
    color: #CA6D68; /*#b1cf86*/
}
a.style:active {
    color: #DFDADE; /*#6d8a47*/
}

#content-wrap {
    padding-top: 4rem;
    padding-bottom: 3.25rem;     /*Footer height*/
}

#footer {
    text-align: center;
    /*background-color: #284A48;*/
    align-content: center;
    /*background-color: rgb(255 253 208);*/
    font-family: 'Shadows Into Light';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.25rem;            /* Footer height */
    
    /*padding-left: auto;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;*/
}
