*{
    margin: 0;
    scrollbar-color: #ecc9c7 #f2ebd8; /*for funsies*/
}
.dark-scroll {
    scrollbar-color: #335654 #182C2B !important; /*for funsies*/
}

body {
    /*background-color: #d1eda1;*/
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

#page-container {
    /*color: #CA6D68;*/
    /*background-color: #284A48;*/
    /*background: linear-gradient(to bottom, #182C2B 30%, #CA6D68);*/
    background: linear-gradient(to bottom, #f2ebd8 30%, #CA6D68);
    
    position: relative;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
}
.page-container-dark {
    /*color: #182C2B !important;
    background: linear-gradient(to bottom, #CA6D68 30%, #F1C1BD) !important;*/
    color: #F1C1BD !important;
    background: linear-gradient(to bottom, #182C2B 30%, #CA6D68) !important;
}

.intromsg {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #284A48;*/
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #CA6D68;
}
.intromsgpartb {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #f2ebd8;
}
.plan {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #CA6D68;
}

h1 {
    size: 50px;
}

#header {
    height: 6rem;
    align-content: center;
    /*background-color: #182C2B;*/
    /*background-color: #f2ebd8; now */
    width: 100vw;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(10px);
}

.header-dark {
    /*background-color: #CA6D68 !important;*/
    /*background-color: #182C2B !important;*/
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*justify-content & align-items to center text in header & footer*/
    align-items: center;
    size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    /*background: #f2ebd8;*/
}

a {
    /*color: #F1C1BD;*/
    color: #CA6D68;
    text-decoration: none;
}
.dark-mode-a {
    /*color: #182C2B;*/
    color: #F1C1BD;
}
/*a.style:link, a.style:visited {
    color: #F1C1BD; 
}*/ /*previos color: #fcfdfc*/
a.style:hover {
    /*color: #CA6D68;*/ /*#b1cf86*/
    color: #F1C1BD;
}
.dark-mode-a.style:hover {
    /*color: #1f4644;*/
    color: #CA6D68;
}
a.style:active {
    color: #DFDADE; /*#6d8a47*/
}
.dark-mode-a.style:active {
    color: #1b201e;
}


#content-wrap {
    padding-top: 6rem; /*Header height*/
    padding-bottom: 3.25rem;     /*Footer height*/
}

#footer {
    text-align: center;
    /*background-color: #284A48;*/
    align-content: center;
    /*background-color: rgb(255 253 208);*/
    font-family: 'Shadows Into Light';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.25rem;            /* Footer height */
    
    /*padding-left: auto;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;*/
}
