*{
    margin: 0;
    padding: 0;
    scrollbar-color: #ecc9c7 #f2ebd8; /*for funsies*/
}
.dark-scroll {
    scrollbar-color: #335654 #182C2B !important; /*for funsies*/
}

body {
    /*background-color: #d1eda1;*/
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

#page-container {
    /*color: #CA6D68;*/
    /*background-color: #284A48;*/
    /*background: linear-gradient(to bottom, #182C2B 30%, #CA6D68);*/
    background: linear-gradient(to bottom, #f2ebd8 30%, #CA6D68);
    position: relative;
    min-height: 100vh; /*makes sure page is atleast the height of the browser, regardless of content*/
}
.page-container-dark {
    /*color: #182C2B !important;
    background: linear-gradient(to bottom, #CA6D68 30%, #F1C1BD) !important;*/
    /*color: #F1C1BD !important;*/
    background: linear-gradient(to bottom, #182C2B 30%, #CA6D68) !important;
}

#intromsg {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #284A48;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #CA6D68;
    /*position: relative;
    left: 25px;*/
    padding: 25px 25px;
}
.calc {
    background-image: linear-gradient(60deg, #8403fc, pink);
    background-clip: text;
    color: transparent;
    display: inline-block;
    
    }
.intromsg-dark {
    color: #F1C1BD !important;
}
#intromsgpartb {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #f2ebd8;
    /*position: relative;
    left: 25px;*/
    padding: 25px 25px;
}
.intromsgpartb-dark {
    color: #F1C1BD !important;
}
#plan {
    height: 100vh;
    /*background: #f8e5bb;*/
    /*background-color: #F1C1BD;*/
    box-sizing: border-box;
    text-align: start;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.0rem;
    color: #CA6D68;
    /*position: relative;
    left: 25px;*/
    padding: 25px 25px;
}
.plan-dark {
    color: #F1C1BD !important;
}

#side-bar {
    position:fixed;
    float:left;
    width: 28vw;
    height: 84vh;
    background: #F1C1BD;
    /*background-color: #284A48;*/
    color: #CA6D68;
}

#content {
    float: right;
    width: 72vw;
    color: #CA6D68;
}

.child {
    height: 84vh;
    width: 100vw;
    box-sizing: border-box;
    text-align: start;
    align-content: top;
    font-family: "Poppins", sans-serif;
    padding: 1vw;
}

h1 {
    size: 50px;
}

#header {
    height: 16vh;
    align-content: center;
    /*background-color: #182C2B;*/
    /*background-color: #f2ebd8; now */
    width: 100vw;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
}

button {
    position: relative;
    float: right;
    right: 2vw;
}

/*.header-dark {
    background-color: #CA6D68 !important;
    background-color: #182C2B !important;
}*/

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*justify-content & align-items to center text in header & footer*/
    align-items: center;
    size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    /*background: #f2ebd8;*/
}

a {
    /*color: #F1C1BD;*/
    color: #CA6D68;
    text-decoration: none;
}
.dark-mode-a {
    /*color: #182C2B;*/
    color: #F1C1BD;
}
/*a.style:link, a.style:visited {
    color: #F1C1BD; 
}*/ /*previos color: #fcfdfc*/
a.style:hover {
    /*color: #CA6D68;*/ /*#b1cf86*/
    color: #F1C1BD;
}
.dark-mode-a.style:hover {
    /*color: #1f4644;*/
    color: #CA6D68;
}
a.style:active {
    color: #DFDADE; /*#6d8a47*/
}
.dark-mode-a.style:active {
    color: #1b201e;
}


#content-wrap {
    padding-top: 16vh; /*Header height*/
    padding-bottom: 9vh;     /*Footer height*/
}

.parent {
    height: 84vh;
}
#footer {
    text-align: center;
    /*background-color: #284A48;*/
    align-content: center;
    /*background-color: rgb(255 253 208);*/
    font-family: 'Shadows Into Light';
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 9vh;            /* Footer height */
    color: #f2ebd8;
    /*padding-left: auto;
    padding-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;*/
}
.footer-calc {
    padding-left: 14vw;
}
.footer-dark {
    color: #F1C1BD !important;
}
